.piano_body{
    display: block;
    width: fit-content;
    padding-left: 1.5em;
    padding-top: 6em;
    padding-bottom: 1em;
    padding-right: 1.5em;
    background: black;
    margin:12% auto;
    border-radius: 1em;
}
.container{
    width: fit-content;
    height: 18em;
}
.white-keys kbd{
    display: inline-block;
    background: white;
    margin-left: 0px;
    border: black solid 1px;
    height: 16em;
    width: 4em;
    text-align: center;
    font-size: 1.3em;
    box-shadow: 0 5px rgb(161, 161, 161);
    transform: translateY(4px);
}

.creator{
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.black-keys kbd{
    display: inline-block;
    background: black;
    color: white;
    margin-left: 0px;
    border: black solid;
    height: 9em;
    width: 2.1em;
    text-align: center;
    margin-left: 0;
    position: relative;
    top: -20em;
    font-size: 1.3em;
}
#KeyQ {
    position: relative;
    z-index: 1;
    right: -3em;
    top: -16.2em;
    box-shadow: 0 5px #444;
    transform: translateY(4px);
}

#KeyW {
    position: relative;
    z-index: 1;
    right: -4.8em;
    top: -16.2em;
    box-shadow: 0 5px #444;
    transform: translateY(4px);
}

#KeyE {
    position: relative;
    z-index: 1;
    right: -10.8em;
    top: -16.2em;
    box-shadow: 0 5px #333;
    transform: translateY(4px);
}

#KeyR {
    position: relative;
    z-index: 1;
    right: -12.4em;
    top: -16.2em;
    box-shadow: 0 5px #444;
    transform: translateY(4px);
}

#KeyT {
    position: relative;
    z-index: 1;
    right: -14em;
    top: -16.2em;
    box-shadow: 0 5px #444;
    transform: translateY(4px);
}

#KeyY {
    position: relative;
    z-index: 1;
    right: -20em;
    top: -16.2em;
    box-shadow: 0 5px #444;
    transform: translateY(4px);
}
#KeyU {
    position: relative;
    z-index: 1;
    right: -21.8em;
    top: -16.2em;
    box-shadow: 0 5px #444;
    transform: translateY(4px);
}
#KeyI {
    position: relative;
    z-index: 1;
    right: -23.4em;
    top: -16.2em;
    box-shadow: 0 5px #444;
    transform: translateY(4px);
}

#KeyO {
    position: relative;
    z-index: 1;
    right: -29.4em;
    top: -16.2em;
    box-shadow: 0 5px #444;
    transform: translateY(4px);
}
#KeyP {
    position: relative;
    z-index: 1;
    right: -31.2em;
    top: -16.2em;
    box-shadow: 0 5px #444;
    transform: translateY(4px);
}
.myClass {
    background-color: red;
    color: white;
    font-size: 44px;
  }